@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|PT++Mono);

:root{
    --primary-color: linear-gradient(#00008B,#0000CD);
    --secondary-color: rgb(247, 193, 193);
    --tertiary-color: rgb(224, 109, 109);
}

body {
    background-image: url(./img/fundo-tela.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;         
}


#container{
    height: 520px;
    width: 360px;
    margin: 70px auto 3px auto;
    background:#d1b5b5;
    border-radius: 20px;
}

.title{
    background: var(--tertiary-color);
    color: var(--secondary-color);
    padding: 20px;
    text-transform:uppercase;
    font-size: 18px;
    font-weight: bold;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

.tipsForm{
    padding-left: 20px;
    padding-right: 20px;
}

.formInput{
    background:rgb(207, 188, 188);
    width:40px;
    padding: 5px 5px 8px 8px;
}

.formInput:focus{

    border: 3px solid var(--primary-color);
    outline: none;
}

.formSelect{
    width:180px;
    padding: 5px;
    font-size:12px;
}

.formSubmit{
    text-transform:uppercase;
    font-weight:bold;
    display:block;
    margin:30px auto;
    background-color: rgb(55, 175, 55);
    border-radius: 5px;
    width:200px;
    height: 50px;
    font-size: 17px;
    color:rgb(48, 6, 6);
}

#totalTip{
    font-size: 20px;
    margin-top: 5px;
    text-align: center;    
}

footer{
   
    margin:none;
    border: none;
    padding: 5px;
    text-align: center;
    
}

.txt-rodape {
    color: rgb(15, 15, 14);
    position: relative;
    bottom: 100px;
    font-size: 28px;
    font-family: Lato,sans-serif;    
    text-align: top;
   
   
}

.logo-garcom{
    
    position: relative;
    bottom: 140px;
    max-width: 70px;
}

